{{#partial "principal" }}
    <div class="d-flex">
        <h1>Agregar usuario</h1>
    </div>

    <div class="container shadow-sm p-3">
        <form method="POST" action="/usuarios" class="m-0">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control"
                               id="usuario" name="usuario" placeholder="Username"
                               value="{{usuario.usuario}}" required>
                        <label for="usuario">Username</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control"
                               id="contrasenia" name="contrasenia" placeholder="Contrase침a"
                               required>
                        <label for="contrasenia">Contrase침a</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control"
                               id="nombre" name="nombre" placeholder="Nombre"
                               value="{{usuario.nombre}}" required>
                        <label for="nombre">Nombre</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control"
                               id="apellido" name="apellido" placeholder="Apellido"
                               value="{{usuario.apellido}}" required>
                        <label for="apellido">Apellido</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control"
                               id="correo_electronico" name="correo_electronico"
                               placeholder="Correo electr칩nico"
                               value="{{usuario.correoElectronico}}" required>
                        <label for="correo_electronico">Correo electr칩nico</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check form-switch mb-3">
                        {{#if usuario.esAdmin}}
                            <input class="form-check-input" type="checkbox" role="switch"
                                   id="es_admin" name="es_admin" checked>
                        {{else}}
                            <input class="form-check-input" type="checkbox" role="switch"
                                   id="es_admin" name="es_admin">
                        {{/if}}
                        <label class="form-check-label" for="es_admin">Admin</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <span class="mensaje-error mr-1">{{mensajeError}}</span>
                <input class="btn btn-primary mr-1" type="submit" value="Agregar">
                <a class="btn btn-secondary" href="/usuarios" role="button">Cancelar</a>
            </div>
        </form>
    </div>
{{/partial}}

{{> layouts/logged.html.hbs }}