{{#partial "principal" }}
  <div class="d-flex justify-content-between p-3 mx-5 mb-4">
    <h1 class="ms-4">Usuarios</h1>
    <div class="d-flex p-3">
      <a class="btn btn-primary" href="/home/usuarios/nuevo" role="button">
        <i class="fa-solid fa-user-plus"></i>
        Agregar usuario
      </a>
    </div>
  </div>

  <div class="container shadow-sm">
    <div class="row p-3 border-bottom border-1">
      <div class="col">
        <span class="fs-5 fw-semibold">Usuario</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Nombre</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Apellido</span>
      </div>
      <div class="col-3">
        <span class="fs-5 fw-semibold">Correo electrónico</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">¿Es Admin?</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Acciones</span>
      </div>
    </div>

    {{#each usuarios}}
      <div class="row p-3 border-bottom border-1">
        <div class="col">
          <span>{{usuario}}</span>
        </div>
        <div class="col">
          <span>{{nombre}}</span>
        </div>
        <div class="col">
          <span>{{apellido}}</span>
        </div>
        <div class="col-3">
          <span>{{correoElectronico}}</span>
        </div>
        <div class="col">
          <span>{{formatearEsAdmin esAdmin}}</span>
        </div>
        <div class="col">
          <a class="mr-1" href="/home/usuarios/{{id}}">
            <i title="Editar" class="fa-solid fa-pencil"></i>
          </a>
          <form class="d-inline" action="/home/usuarios/{{id}}/eliminar" method="POST" onsubmit="return confirm('¿Está seguro que desea eliminar este usuario?');">
            <button type="submit" style="background:none;border:none;padding:0;">
              <i title="Eliminar" class="fa-regular fa-trash-can"></i>
            </button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
{{/partial}}

{{> layouts/logged.html.hbs }}