{{#partial "principal"}}
    <script src="indexScript.js"></script>
    <h3 style="margin-left: 3.5%;">Comunidades</h3>
    <div style="margin-left: 2.3%;">
    <div class="d-flex flex-row flex-wrap">
            {{#each comunidades}}
                <div class="card-comunidad">
                    <div class="d-flex flex-row align-items-center">
                        <h5 style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">{{this.nombre}}</h5>
                        <a href="/comunidades/{{this.id}}/incidentes" class="icon-link" style="margin-left: 5%;margin-bottom: 1.5%;">
                            <i class="fa-regular fa-eye comunidad-display-icon" title="Ver incidentes" style="color: #131a26; margin-left: 5%;"></i>
                            <i class="fa-solid fa-eye comunidad-hover-icon" style="display: none; color: #131a26; margin-left: 5%;" title="Ver incidentes"></i>
                        </a>
                        <a href="#" class="icon-link" style="margin-left: 5%; margin-bottom: 1.5%;" data-bs-toggle="modal" data-bs-target="#miembrosModal{{@index}}">
                            <i class="fa-regular fa-users comunidad-display-icon" title="Ver miembros" style="color: #131a26; margin-left: 5%;"></i>
                            <i class="fa-solid fa-users comunidad-hover-icon" style="display: none; color: #131a26; margin-left: 5%;" title="Ver miembros"></i>
                        </a>

                    </div>
                    <span class="mt-2 d-block">{{miembros.length}} {{#intIsEqual 1 miembros.length}} miembro {{else}} miembros {{/intIsEqual}}</span>
                    <span class="mt-1 d-block">{{incidentesAbiertos.length}} {{#intIsEqual 1 incidentesAbiertos.length}} incidente abierto {{else}} incidentes abiertos {{/intIsEqual}}</span>
                </div>
                <div class="modal fade" id="miembrosModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="miembrosModalLabel{{@index}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="miembrosModalLabel{{@index}}">{{nombre}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {{#each miembros}}
                                        <li>{{this.nombre}} {{this.apellido}} ({{this.correoElectronico}})</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

{{/partial}}

{{> layouts/logged.html.hbs }}
