{{#partial "principal" }}

  <div class="d-flex justify-content-between p-3 mx-5 mb-4">
    <h1 class="ms-4 fs-3">Ranking - {{criterio}}</h1>
    <form method="post" class="d-flex px-3">
      <input class="btn btn-primary" type="submit" value="Exportar a csv">
    </form>
  </div>

  <div class="container shadow-sm">
    <div class="row p-3 border-bottom border-1">
      <div class="col-2">
        <span class="fs-5 fw-semibold">Posición</span>
      </div>
      <div class="col-3">
        <span class="fs-5 fw-semibold">Entidad</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">{{criterio}}</span>
      </div>
    </div>

    {{#each entidades}}
      <div class="row p-3 border-bottom border-1">
        <div class="col-2">
          <span>{{indice}}</span>
        </div>
        <div class="col-3">
          <span>{{entidad}}</span>
        </div>
        <div class="col">
          <span>{{valor}}</span>
        </div>
      </div>
    {{/each}}
  </div>

{{/partial}}

{{> layouts/logged.html.hbs }}
