{{#partial "principal" }}

    {{#if creacion_exitosa}}
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            new bootstrap.Modal(document.getElementById('mensajeExitoModal')).show();
        });
    </script>
    {{/if}}
  <div class="d-flex justify-content-between">
    <h1>Usuarios</h1>
    <div class="d-flex p-3">
      <a class="btn btn-primary" href="/usuarios/nuevo" role="button">
        Agregar usuario
      </a>
    </div>
  </div>

  <div class="container shadow-sm">
    <div class="row p-3 border-bottom border-1">
      <div class="col">
        <span class="fs-5 fw-semibold">Username</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Nombre</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Apellido</span>
      </div>
      <div class="col-3">
        <span class="fs-5 fw-semibold">Correo electrónico</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Admin</span>
      </div>
      <div class="col">
        <span class="fs-5 fw-semibold">Acciones</span>
      </div>
    </div>

    {{#each usuarios}}
      <div class="row p-3 border-bottom border-1">
        <div class="col">
          <span>{{usuario}}</span>
        </div>
        <div class="col">
          <span>{{nombre}}</span>
        </div>
        <div class="col">
          <span>{{apellido}}</span>
        </div>
        <div class="col-3">
          <span>{{correoElectronico}}</span>
        </div>
        <div class="col">
          <span>{{formatearEsAdmin esAdmin}}</span>
        </div>
        <div class="col">
          <a class="mr-1" href="/usuarios/{{id}}">
            <i title="Editar" class="fa-solid fa-pencil"></i>
          </a>
          <form class="d-inline" action="/usuarios/eliminar" method="POST" onsubmit="return confirm('¿Está seguro que desea eliminar este usuario?');">
              <input type="hidden" name="id" value="{{id}}">
              <button type="submit" style="background:none;border:none;padding:0;">
              <i title="Eliminar" class="fa-regular fa-trash-can"></i>
            </button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="modal fade" id="mensajeExitoModal" tabindex="-1" role="dialog" aria-labelledby="mensajeExitoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="mensajeExitoModalLabel">¡Genial!</h5>
              </div>
              <div class="modal-body">
                  <p>Se creó el usuario correctamente.</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
          </div>
      </div>
  </div>

{{/partial}}

{{> layouts/logged.html.hbs }}