{{#partial "principal" }}

    <h1>Mis comunidades</h1>
    <div class="d-flex flex-row flex-wrap">
        {{#each comunidades}}
            <div class="card">
                <h4>{{this.nombre}}</h4>
                <a href="/home/comunidades/{{this.id}}/incidentes">Ver incidentes</a>
            </div>
        {{/each}}
    </div>

    <h2>Incidentes Pendientes a Revisar</h2>
    <div class="d-flex flex-row flex-wrap">
        {{#each incidentes}}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Incidente en {{this.servicio.descripcion}}</h5>
                    <p class="card-text">{{this.observaciones}}</p>
                    <a href="/incidentes/{{this.id}}" class="btn btn-primary">Revisar</a>
                </div>
            </div>
        {{/each}}
    </div>

{{/partial}}

{{> layouts/logged.html.hbs }}
