{{#partial "principal" }}

<script src="indexScript.js"></script>

    <h3 style="margin-left: 3.5%;">Mis comunidades</h3>
    <div style="margin-left: 2.3%;">
        <div class="d-flex flex-row flex-wrap">
            {{#intIsEqual 0 total_comunidades}}
                <p style="margin-left: 1.2%;margin-top:1.5%;">No se encontraron comunidades</p>
            {{else}}
                {{#each comunidades}}
                    <div class="card-comunidad">
                        <div class="d-flex flex-row align-items-center">
                            <h5 style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">{{this.nombre}}</h5>
                            <a href="/home/comunidades/{{this.id}}/incidentes" class="icon-link" style="margin-left: 5%;margin-bottom: 1.5%;">
                                <i class="fa-regular fa-eye comunidad-display-icon" title="Ver incidentes" style="color: #131a26; margin-left: 5%;"></i>
                                <i class="fa-solid fa-eye comunidad-hover-icon" style="display: none; color: #131a26; margin-left: 5%;" title="Ver incidentes"></i>
                            </a>
                        </div>
                        <span class="mt-2 d-block">{{cantidad_miembros}} {{#intIsEqual 1 cantidad_miembros}} miembro {{else}} miembros {{/intIsEqual}}</span>
                        <span class="mt-1 d-block">{{cantidad_incidentes}} {{#intIsEqual 1 cantidad_incidentes}} incidente abierto {{else}} incidentes abiertos {{/intIsEqual}}</span>
                    </div>
                {{/each}}
        </div>
        <div class="d-flex flex-row justify-content-end" style="margin-right: 3.5%;">
            <a style="font-weight: 500; color: #131a26;" href="/home/comunidades">Ver todas las comunidades</a>
        </div>
        {{/intIsEqual}}
    </div>
    <h3 class="mt-4" style="margin-left: 3.5%;">Incidentes pendientes</h3>
    {{#if after_action}}
    <p style="color: rgb(59, 214, 113);font-weight:500;margin-left: 3.5%;">{{message}}</p>
    {{/if}}
    <div class="d-flex flex-row flex-wrap" style="margin-left: 2.3%;">
    {{#intIsEqual 0 total_incidentes}}
        <p style="margin-left: 1.2%;margin-top:1.5%;">No se encontraron incidentes pendientes</p>
    {{else}}
        {{#each incidentes}}
        <div class="card-incidente">
            <div class="d-flex flex-row align-items-center">
                <h5 style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">{{servicio.descripcion}}</h5>
                {{#if abierto}}
                <button type="button" style="background-color: transparent; border: none; margin-bottom: 0.3em;" data-bs-toggle="modal" data-bs-target="#confirmarCierreModal" data-incident-id="{{id}}"
                                    data-comunidad-id="{{comunidad.id}}" data-from="index" class="icon-button">
                                    <i class="lni lni-checkmark-circle display-icon" title="Cerrar incidente" style="color: #3bd671; margin-left: 5%;"></i>
                                    <i data-incident-id="{{id}}" data-comunidad-id="{{comunidad.id}}"
                                        data-from="index" class="fa-solid fa-circle-check hover-icon"
                                         style="display: none; color: #3bd671; margin-left: 5%;" title="Cerrar incidente"></i>
                                    </button>
                {{/if}}
            </div>
            <h6 class="d-inline-block">{{establecimiento.nombre}}</h6>
            <h6 class="d-inline-block">{{comunidad.nombre}}</h6>
            <span class="mt-2 d-block">{{formatearFecha fecha}} - {{formatearUsuario reportante}}</span>
            <div class="text-area mt-1">
                {{observaciones}}
            </div>
        </div>
        {{/each}}
        <div class="d-flex flex-row justify-content-end" style="width: 100%;margin-right: 3.5%;">
            <a href="/home/incidentes" style="font-weight: 500; color: #131a26;">Ver todos los incidentes</a>
        </div>
    {{/intIsEqual}}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmarCierreModal" tabindex="-1" role="dialog" aria-labelledby="confirmarCierreModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmarCierreModalLabel">Confirmar cierre de incidente</h5>
          </div>
          <form method="POST" class="m-0">
          <div class="modal-body">
            ¿Desea cerrar el incidente?
          </div>
          <div class="modal-footer">
            <button type="button" class="grey-button" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="green-button">Cerrar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
{{/partial}}

{{> layouts/logged.html.hbs }}
